

    <h2>Popular stocks</h2>

    <a href="/popular">popular stocks</a>
    <!-- <ull>
        <li><a href="/stock?ticker=msft">microsoft</a></li>
        <li><a href="/stock?ticker=aapl">apple</a></li>
        <li><a href="/stock?ticker=googl">google</a></li>
    </ull> -->

    <h2>Enter your own stock</h2>

    <form action="/stock">
        <label for="">ticker</label>
        <input type="text" name="ticker">
        <button>go</button>
    </form>
</body>