.App {
  text-align: center;
}

/* .ingredient {
  border: 2px solid black;
} */

.cheese {
  background-color: goldenrod;
}
.tomato {
  background-color: tomato;
}
.bun {
  background-color: brown;
}